<div class="col-xs-6 misc">
  <div class="col-header"><i class="fa fa-user"></i> Who We Are</div>
  <div class="col-content">
    <h2>Introduction</h2>
    <p>We're a few developers that would like to collect the information of the base(hosting) in order to make our application/websites go live. Web Hosting Pal(WHPal) is a hub that we would like to share what we've found in favor of anyone who would like to search such information. </p>
    <h2>How to find us</h2>
    <p>If you have any queries or comments, you may find us via email: admin@whpal.com. To keep connected with us, why don't follow us on <a rel="nofollow" target="_blank" href="https://twitter.com/whpalcom">Twitter</a>?</p>

    <em class="warning"><i class="fa fa-warning"></i> It should be noticed that we are not liable to any loss due to the inaccuracy of the information(if any) in the website.</em>
  </div>
</div>

<div class="col-xs-6 misc">
  <div class="col-header"><i class="fa fa-info-circle"></i> FAQ</div>
  <div class="col-content">
    <h2>1) How to get my services listed?</h2>
    <p>It is sorry that your services are not listed here. You may send us your information via email to us and we will process it within 3-4 days. In the future, we are planning to provide a form for this purpose.
    </p>
    <h2>2) I found some incorrect information, what should I do?</h2>
    <p>We sincerely apologize for the incorrect information if any. Please contact us via email with the correct information. We will get it fixed as early as possible.
    </p>
  </div>
</div>