<!DOCTYPE html>
<html>
<head>
<title ng-bind="title" class="ng-binding">WiredTree - SSD 2000</title><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="description" content="WiredTree 2GB VPS 40 GB SSD in Chicago, US for $55/month">
<meta name="keywords" content="VPS, hosting, web hosting, CDN">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/manifest.json">
<link href="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="left-menu">
    <div class="left-menu-logo">
      <img src="/whp.png" alt="WHPAL: Web Hosting Listing"><h1 class="logo-text">WHP</h1>
      <h1 class="logo-menu"><i class="fa fa-bars"></i></h1>
    </div>
    <ul>
      <!-- <li>
        <div class="icon"><i class="fa fa-desktop"></i></div>
        <a href="#/webhosting"><div>Web Hosting</div><div class="desp">194 Hostings</div></a>
      </li> -->
      <li>
        <div class="icon"><i class="fa fa-server"></i></div>
        <a href="/#!/vps-listing"><div>VPS Hosting</div><div class="desp ng-binding">76 Hostings</div></a>
      </li>
      <li>
        <div class="icon"><i class="fa fa-cloud"></i></div>
        <a href="#!/cloud-listing"><div>Cloud Hosting</div><div class="desp">194 Hostings</div></a>
      </li>
    </ul>
  </div>
  <div class="main">
    <div class="main-header">
      <img class="res-logo" src="/whp.png" alt="WHPAL: Web Hosting Listing"><h1 class="ng-binding">WiredTree - SSD 2000</h1>
      <div class="res-menu"><i class="fa fa-bars"></i></div>
    </div>
    <!-- uiView:  --><div ui-view="" class="ng-scope"><div class="hosting-detail col-xs-6 ng-scope">
    <table class="hosting-detail-table">
        <caption><i class="fa fa-server"></i> VPS Detail</caption>
        <tbody><tr>
            <th>Provider</th>
            <td data-title="Provider" class="ng-binding">WiredTree</td>
        </tr>
        <tr>
            <th>Plan</th>
            <td data-title="Plan" class="ng-binding">SSD 2000</td>
        </tr>
        <tr>
            <th>CPU</th>
            <td data-title="CPU" class="ng-binding">Unknown</td>
        </tr>
        <tr>
            <th>RAM</th>
            <td data-title="RAM" class="ng-binding">2 GB</td>
        </tr>
        <tr>
            <th>Storage</th>
            <td data-title="Storage" class="ng-binding">40 GB SSD</td>
        </tr>
        <tr>
            <th>Traffic</th>
            <td data-title="Bandwidth" class="ng-binding">4000 GB</td>
        </tr>
        <tr>
            <th>Network</th>
            <td data-title="Port Speed" class="ng-binding">Unknown</td>
        </tr>
        <tr>
            <th>IP</th>
            <td data-title="IP"><span ng-bind-html="vps.ipv4 | ipv4Filter" class="ng-binding">2 IPv4<br></span><span ng-bind-html="vps.ipv6 | ipv6Filter" class="ng-binding"></span></td>
        </tr>
        <tr>
            <th>Platform</th>
            <td data-title="Platform" class="ng-binding">Unknown</td>
        </tr>
        <tr>
            <th>Location</th>
            <td data-title="Location" ng-bind-html="vps.location | locationDetailFilter" class="ng-binding">Chicago, US<br></td>
        </tr>
        <tr ng-show="vps.remark">
            <th>Remarks</th>
            <td data-title="Remarks" ng-bind-html="vps.remark | locationDetailFilter" class="ng-binding">Managed<br></td>
        </tr>
        <tr>
            <th>PRICE</th>
            <td data-title="Price" class="ng-binding">$55 / month<div><a rel="nofollow" class="signup-btn btn" href="https://www.wiredtree.com/products/managed-vps/" target="_blank">SIGN UP</a></div></td>
        </tr>
    </tbody></table>
</div>
<div class="hosting-detail col-xs-6 ng-scope">
    <div class="table-wrapper nopadding">
        <table class="similar-plan-table">
            <caption><i class="fa fa-list"></i> Similar Plans</caption>
            <thead>
                <tr>
                    <th>Plan</th>
                    <th>CPU</th>
                    <th>RAM</th>
                    <th>Harddisk</th>
                    <th>Network</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/27-VPS-Latch-US-VPS1" class="ng-binding">VPS Latch - US-VPS.1</a></td>
                    <td data-title="Plan" class="ng-binding">Unknown</td>
                    <td data-title="RAM" class="ng-binding">2 GB</td>
                    <td data-title="Harddsk" class="ng-binding">50 GB HDD</td>
                    <td data-title="Bandwidth" class="ng-binding">3000 GB</td>
                    <td data-title="Price" class="ng-binding">$39 / month</td>
                </tr><!-- end ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/52-tmzVPS-KM-2G" class="ng-binding">tmzVPS - KM-2G</a></td>
                    <td data-title="Plan" class="ng-binding">2 Core</td>
                    <td data-title="RAM" class="ng-binding">2 GB</td>
                    <td data-title="Harddsk" class="ng-binding">100 GB HDD</td>
                    <td data-title="Bandwidth" class="ng-binding">6000 GB</td>
                    <td data-title="Price" class="ng-binding">$39 / month</td>
                </tr><!-- end ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/31-VPS-Latch-UK-VPS1" class="ng-binding">VPS Latch - UK-VPS.1</a></td>
                    <td data-title="Plan" class="ng-binding">Unknown</td>
                    <td data-title="RAM" class="ng-binding">2 GB</td>
                    <td data-title="Harddsk" class="ng-binding">50 GB HDD</td>
                    <td data-title="Bandwidth" class="ng-binding">3000 GB</td>
                    <td data-title="Price" class="ng-binding">$45 / month</td>
                </tr><!-- end ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/19-247-Host-uVPS-3" class="ng-binding">247-Host - uVPS-3</a></td>
                    <td data-title="Plan" class="ng-binding">4 Core</td>
                    <td data-title="RAM" class="ng-binding">2 GB</td>
                    <td data-title="Harddsk" class="ng-binding">60 GB HDD</td>
                    <td data-title="Bandwidth" class="ng-binding">750 GB</td>
                    <td data-title="Price" class="ng-binding">$49.99 / month</td>
                </tr><!-- end ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/20-247-Host-uVPS-3" class="ng-binding">247-Host - uVPS-3</a></td>
                    <td data-title="Plan" class="ng-binding">4 Core</td>
                    <td data-title="RAM" class="ng-binding">2 GB</td>
                    <td data-title="Harddsk" class="ng-binding">60 GB HDD</td>
                    <td data-title="Bandwidth" class="ng-binding">750 GB</td>
                    <td data-title="Price" class="ng-binding">$49.99 / month</td>
                </tr><!-- end ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/34-VPS-Latch-NL-VPS1" class="ng-binding">VPS Latch - NL-VPS.1</a></td>
                    <td data-title="Plan" class="ng-binding">Unknown</td>
                    <td data-title="RAM" class="ng-binding">2 GB</td>
                    <td data-title="Harddsk" class="ng-binding">50 GB HDD</td>
                    <td data-title="Bandwidth" class="ng-binding">3000 GB</td>
                    <td data-title="Price" class="ng-binding">$50 / month</td>
                </tr><!-- end ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/76-SolVPS-VPS-AdvancedWindows" class="ng-binding">SolVPS - VPS Advanced(Windows)</a></td>
                    <td data-title="Plan" class="ng-binding">4 Core</td>
                    <td data-title="RAM" class="ng-binding">2 GB</td>
                    <td data-title="Harddsk" class="ng-binding">60 GB SSD</td>
                    <td data-title="Bandwidth" class="ng-binding">10000+ GB</td>
                    <td data-title="Price" class="ng-binding">$52.9 / month</td>
                </tr><!-- end ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/13-WiredTree-VPS-2000" class="ng-binding">WiredTree - VPS 2000</a></td>
                    <td data-title="Plan" class="ng-binding">Unknown</td>
                    <td data-title="RAM" class="ng-binding">2 GB</td>
                    <td data-title="Harddsk" class="ng-binding">120 GB Hybrid</td>
                    <td data-title="Bandwidth" class="ng-binding">6000 GB</td>
                    <td data-title="Price" class="ng-binding">$69 / month</td>
                </tr><!-- end ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/14-WiredTree-VPS-2500" class="ng-binding">WiredTree - VPS 2500</a></td>
                    <td data-title="Plan" class="ng-binding">Unknown</td>
                    <td data-title="RAM" class="ng-binding">2.5 GB</td>
                    <td data-title="Harddsk" class="ng-binding">150 GB Hybrid</td>
                    <td data-title="Bandwidth" class="ng-binding">8000 GB</td>
                    <td data-title="Price" class="ng-binding">$89 / month</td>
                </tr><!-- end ngRepeat: row in plans --><tr ng-repeat="row in plans" class="ng-scope">
                    <td data-title="Provider"><a href="/#!/vps/29-VPS-Latch-US-VPS2" class="ng-binding">VPS Latch - US-VPS.2</a></td>
                    <td data-title="Plan" class="ng-binding">Unknown</td>
                    <td data-title="RAM" class="ng-binding">3 GB</td>
                    <td data-title="Harddsk" class="ng-binding">75 GB HDD</td>
                    <td data-title="Bandwidth" class="ng-binding">4000 GB</td>
                    <td data-title="Price" class="ng-binding">$49 / month</td>
                </tr><!-- end ngRepeat: row in plans -->
            </tbody>
        </table>
    </div>
</div></div>
  </div>
  <div ng-class="{loading:loading,finish:finish}" class="loading_bar finish">
  </div>


</body>
</html>